nav{
    background-color: black;
    width: 100%;
}

a{
    color: white;
}

#container{
    margin: auto;

}
.head{
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0px;
    margin: auto;
    width:25%;    
    text-align: left;
    padding-top: 30px;
}

.buttons{
    margin: auto;
    width: 50%;
    text-align: center;
}
.home-button{
    padding-top: 20px;
}

.guest-button{
    padding-top: 20px;
}

.btn{
    padding: 10px;
    width: 10em;
}

.google-map {
    padding-bottom: 50%;
    margin: auto;
    position: relative;
}

.google-map iframe {
    margin: auto;
    height: 50%;
    width: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

.clipart{
    width: 7em;
}