nav{
    background-color: black;
}

a{
    color: white;
}

#container{
    margin: auto;

}
.head{
    margin: auto;
    width:50%;    
    text-align: center;
    padding-top: 30px;
}

.buttons{
    margin: auto;
    width: 50%;
    text-align: center;
}
.home-button{
    padding-top: 20px;
}

.guest-button{
    padding-top: 20px;
}

.btn{

    
    padding: 10px;
    width: 30%;
}

.google-map {
    padding-bottom: 50%;
    margin: auto;
    position: relative;
}

.google-map iframe {
    margin: auto;
    height: 50%;
    width: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
